    <footer class="bg-secondary dark:bg-background-8  relative overflow-hidden">
  <!-- right gradient -->
  <figure
    data-ns-animate
    data-delay="0.4"
    data-duration="0.8"
    data-direction="right"
    data-offset="400"
    class="pointer-events-none absolute top-[-17%] right-[-64%] size-[550px] rotate-[-30deg] bg-top-right select-none max-[376px]:right-[-83%] md:top-[-25%] md:right-[-30%] lg:right-[-19%] xl:top-[-32%] xl:right-[-9%]"
  >
    <img
      class="size-full object-cover object-top"
      src="/images/ns-img-493.png"
      alt="Decorative gradient background"
    />
  </figure>

  <!-- left gradient -->
  <figure
    data-ns-animate
    data-delay="0.4"
    data-duration="0.8"
    data-direction="left"
    data-offset="400"
    class="pointer-events-none absolute bottom-[-33%] left-[-83%] size-[728px] select-none min-[2559px]:!left-[-16%] md:bottom-[-60%] md:left-[-52%] md:size-[870px] lg:left-[-38%] xl:bottom-[-77%] xl:left-[-30%] 2xl:left-[-22%]"
  >
    <img
      class="size-full object-bottom"
      src="/images/ns-img-494.png"
      alt="Decorative gradient background"
    />
  </figure>

  <div class="main-container relative">
    <div class="grid grid-cols-12 gap-x-0 gap-y-14 pt-[100px] pb-14">
      <div class="col-span-12 grid grid-cols-12 gap-x-0 gap-y-8">
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.4" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 text-primary-50 font-normal">Kurumsal</p>
            <ul class="space-y-3 sm:space-y-5">
              <li>
                <a href="/hakkinda" class="footer-link"> Hakkında </a>
              </li>
              <li>
                <a href="/ekranlar" class="footer-link"> Ekranlar </a>
              </li>
              <li>
                <a href="/indir" class="footer-link"> İndir </a>
              </li>
              <li>
                <a href="/hakkinda" class="footer-link"> İletişim </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.5" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 text-primary-50 font-normal">Destek</p>
            <ul class="space-y-3 sm:space-y-5">
              <li>
                <a href="/nasil-calisir" class="footer-link"> Sık sorulanlar </a>
              </li>
              <li>
                <a href="/ozellikler" class="footer-link"> Özellikler </a>
              </li>
              <li>
                <a href="/nasil-calisir" class="footer-link"> Nasıl çalışır </a>
              </li>
              <li>
                <a href="/hakkinda" class="footer-link"> Destek </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.6" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 text-primary-50 font-normal">
              Yasal
            </p>
            <ul class="space-y-3 sm:space-y-5">
              <li>
                <a href="/kosullar" class="footer-link"> Koşullar </a>
              </li>
              <li>
                <a href="/gizlilik" class="footer-link"> Gizlilik </a>
              </li>
              <li>
                <a href="/hakkinda" class="footer-link"> İletişim </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="relative pt-[26px] pb-[100px] text-center">
      <div
        class="footer-divider bg-accent/10 dark:bg-stroke-4/10 absolute top-0 right-0 left-0 mx-auto h-px w-0 origin-center"
      ></div>
      <p
        data-ns-animate
        data-delay="0.7"
        data-offset="10"
        data-start="top 105%"
        class="text-tagline-1 text-primary-50 font-normal"
      >
        Copyright &copy; 2026 Octaglot
      </p>
    </div>
  </div>
  

  <script src="/vendor/swiper.min.js"></script>
<script src="/vendor/leaflet.min.js"></script>
<script src="/vendor/vanilla-infinite-marquee.min.js"></script>
<script src="/vendor/split-text.min.js"></script>
<script src="/vendor/gsap.min.js"></script>
<script src="/vendor/scroll-trigger.min.js"></script>
<script src="/vendor/draw-svg.min.js"></script>
<script src="/vendor/scroll-trigger.min.js"></script>
<script src="/vendor/motionpathplugin.min.js"></script>
<script src="/vendor/lenis.min.js"></script>
<script src="/vendor/springer.min.js"></script>
<script src="/vendor/number-counter.js"></script>
<script src="/vendor/stack-card.min.js"></script>


</footer>
